*{
    padding: 0;
    margin: 0;
    
}
.header
{
    background-color: cornsilk;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
}

.title
{
    font-size: 5vh;
    font-family: serif;
    cursor: pointer;
    user-select: none;
    
}

button
{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    width: 4rem;
    cursor: pointer;
    user-select: none;
    text-wrap: wrap;
    box-sizing: border-box;
    
}
.login
{
    width: 10vw;
    text-align: center;
}
button:hover
{   
    cursor: pointer;
    background-color: darkgray;
    border: 2px solid;
}


body
{
    height: 80vh;
    background-color:burlywood;
    
    
}
.content
{
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}
.addBtn
{
    /* position:absolute; */
    margin-bottom: 5vh;
    align-self: baseline;
    width: 8em;
    /* flex-wrap: nowrap; */
}

.dbox{
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 1em;
    position:absolute
   
}
form{
    
    /* height: 400px; */
    width: 300px;
}

 .box{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    padding: 8px;
 }

 /* button
 {
    width: 100%;
 } */
.choice
{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    padding: 8px;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .grid-box-container
  {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-auto-columns: 350px;
    grid-auto-rows: 350px;
    justify-content: space-around;
    grid-row-gap: 30px;
    padding-bottom: 10px;
  }
  .grid-box{
    /* background-image: url(close.png); */
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    /* text-align: left; */
    justify-content: space-around;
   align-items: center;
   font-size: 1.8em;
    
   
  }

  /* .test{
    display: none;
  } */

  /* img{
    height: 10px;
    color: red
  } */
  
.btn{
    /* margin: 20px; */
   width: 80%; 
}
#readStatus
{
    background-color: greenyellow;
}

.btn :hover{
    background-color: palegoldenrod;
}